<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Crowdi - Item Lending Platform</title>
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@1.9.2"></script>
    <link rel="stylesheet" href="/static/style.css?v=1">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;700;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/style.css?v=1">
</head>

<body>
    <header class="site-header">
        <div class="title-section">
            <div class="site-title">Crowdi</div>
        </div>

        {% if user_id %}
        <div class="tabs-section">
            <div class="tabs">
                <a href="/" id="home-button" class="tab">Home</a>
                <a href="/conversations" id="messages-button" class="tab messages-tab">
                    Messages
                    <span id="notification-badge" hx-get="/notifications" hx-trigger="load, every 2s"
                        hx-swap="outerHTML" class="notification-dot-wrapper">
                        <!-- Notification dot will be replaced here -->
                    </span>
                </a>
            </div>
        </div>
        {% endif %}

        <div class="login-section">
            {% if not user_id %}
            <form action="/login" method="post" class="login-inline">
                <input type="text" name="username" placeholder="Your name" required>
                <button type="submit">Log in</button>
            </form>
            {% else %}
            <div class="logout-section">
                <span class="login-status">{{ username }}</span>
                <form action="/logout" method="post">
                    <button type="submit" class="logout-button">Sign out</button>
                </form>
            </div>
            {% endif %}
        </div>
    </header>
    {% block content %}{% endblock %}

    {% if cities %}
    <script id="cities-json" type="application/json">
    {{ cities | tojson | safe }}
</script>
    {% endif %}

    <script src="/static/js/location.js"></script>
</body>

</html>